body{
	font-family: 'PT Sans Narrow', sans-serif;
}
#content{
	width:650px;
}
.login-form{
	width:350px;
	height:500px;
	border-bottom:1px solid black;
	margin: 0 auto;
}
#pwdfield{
	position: relative;
	top:50px;
}
#loginbtn{
	position: relative;
	top:100px;
}
#loginbtn2{
	position: relative;
	top:110px;
}